<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillbee</title>

    <script src="https://kit.fontawesome.com/4005647aa6.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./static/styles.css">

</head>
<body>
    <div class="main container">
        <div class="home">
            <span class="key">7023703</span>
            <div>
                <h1>Clean out your garage</h1>
                <h3>Outdoor & Sporting goods company</h3>
                <button>Explore more <img src="./static/Arrow 3.svg" alt="arrow"> </button>
                <p>We have more special goods for you 🚀</p>
                <div class="stats">
                    <div>
                        <p>More Than</p>
                        <p>50+</p>
                        <p>Adventure Product</p>
                    </div>
                    <div>
                        <p>More Than</p>
                        <p>75+</p>
                        <p>Outlets in Indonesia</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="price">
            <p>Price</p>
            <p>0</p>
        </div>

        <div class="trek">
            <img src="./static/Activity_Stock_1.jpg" alt="trek image">
        </div>

        <div class="backpack-container">
            <img src="./static/Backpack-background.jpg" alt="backpack bg">
            <div class="backpack">
                <img src="./static/image 14.png" alt="backpack">
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>
            <div class="bag-model">
                <p>Ransel Genali 25L 01</p>
            </div>
        </div>

        <div class="traveller">
            <img src="./static/Activity_Stock_2.jpg" alt="traveller">
            <img class="logo" src="./static/LogoGroup.png" alt="logo">
        </div>

        <div class="footer">
            <div class="footer-card">
                <img src="./static/card-send.png" alt="send icon">
                <div>
                    <p>accessibility</p>
                    <p>0.1</p>
                </div>
            </div>
            <div class="footer-card">
                <img src="./static/shield-tick.png" alt="shield icon">
                <div>
                    <p>Type</p>
                    <p>busywork</p>
                </div>
            </div>
        </div>

        
    </div>
</body>
</html>